paths:
  logs: Log
  logs_file_name: logs
  root_data_dir: data
  source_url: https://github.com/entbappy/Branching-tutorial/raw/master/summarizer-data.zip
  zip_data_path: zip_data
  zip_data_file_name: data.zip
  unzip_data_path: unzip_data
  data_set_name: samsum_dataset

data_validation_config:
  data_split_name:
    - trains
    - test
    - validation
  column_name_check:
    - id
    - dialogue
    - summary
  data_type_check:
    - string
    - string
    - string